// Variables Definition
@rootFontSize: 14px;
@rootFontFamily: "Menlo", "Monaco", "Consolas", "微软雅黑", "Heiti";
@shadow: 0.2rem 0.3rem 0.4rem rgba(48, 48, 48, .7);
@shadowBottom: 0 0.2rem 0.3rem rgba(48, 48, 48, .7);
@shadowTop: 0 -0.1rem 0.2rem rgba(48, 48, 48, .7);
@borderColor: #888888;
@popupBlockSize: 48px;
@rootMatrixSize: 2.2rem;

// 工具

.hide {
  display: none;
}
.hide-font {
  text-indent: 999rem;
}
.make1 {
  background: #CCCCFF !important;
}
.make2 {
  background: #66CCFF !important;
}
.error-mark{
  background: #FF3300 !important;
};
// Style rules
html {
    font-size: @rootFontSize;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: #eeeeee;
    font-family: @rootFontFamily;
    overflow: hidden;
    user-select: none;
    // 兼容非移动平台的 web
    max-width: 450px;
    height:100%;
    margin: 0px auto;
    >* {
        max-width: 450px;
    }
}

.main{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%
}

header{
  background: #0099CC;
  height: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  text-indent: 1rem;
}

.container{
  background: #FFFFCC;
  flex:1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  .describe{}
}

.pupop {
  .matrix();
  position: absolute;
  background: #FFCC99;
  top: 100px;
  left: 100px;
  color: #000033;
  font-size: 1.4rem;
  border-width: 1px;
}

.matrix{
  box-sizing: border-box;
  border:1px solid @borderColor;
  & > div {
    box-sizing: border-box;
    span{
      box-sizing: border-box;
      display: inline-block;
      width: @rootMatrixSize;
      text-align: center;
      height: @rootMatrixSize;
      line-height: @rootMatrixSize;
      border-left: 1px solid @borderColor;
      border-top:1px solid @borderColor;
      &:last-child{
        border-right: 1px solid @borderColor;
      }
      &.right-col{
        border-right: 1px solid @borderColor;
      }
      &.default{
        background: #FFFF99;
      }
      &.empty{
        background: #FFFFFF;
      }
    }
    &:last-child{
      border-bottom: 1px solid @borderColor;
    }
    &.bottom-row{
      &>span{
        border-bottom: 1px solid @borderColor;
      }
      
      &:last-child{
        &>span{
          border-bottom: 0px;
        }
      }
    }
  }
}

footer{
  height: 4rem;
  display: flex;
  line-height: 4rem;
  text-align: center;
  & > button {
    flex:1;
    background: #99CC99;
    font-size: 1.5rem;
    color:#ffffff;
    border-right: 1px solid @borderColor;
    &:hover{
      background: #99CC00;
    }
  }

}

